.home-carousel {
    position: relative;
}

.home-carousel input {
    border-radius: 3px 0 0 3px;
    border-color: white;
}

.home-carousel button {
    border-radius: 0 3px 3px 0;
}

.home-carousel .popular a {
    color: white;
    border-radius: 9px;
    border: 2px solid white;
    padding: 5px 10px 5px 10px;
    margin-right: 15px;
}

.home-carousel .popular a:hover {
    color: #ec407a;
    border: 2px solid #ec407a;
}

.home-carousel .content {
    position: absolute;
    top: 20%;
    left: 5%;
    bottom: 20%;
}